
/* General body style */
body {  
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
}


/* Header */
header {
    background-color: #b0d5c7;
    padding: 20px;
    text-align: center;
    font-size: 24px;
    border-bottom: 2px solid #8bb8a8;
}


/* Navigation links */
nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    background-color: #e6f2ee;
    padding: 3px;
    border: 2px solid #8bb8a8;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a:visited {
    color: #660066;
}

nav a:hover {
    color: #55907c;
}

nav a:active {
    background-color: #333;
    color: white;
}

header nav a {
    text-transform: uppercase;
    font-family: "Playfair Display", serif;
    font-size: 16px;
    letter-spacing: 1px;
}


/* Headings */
h1, h2, p { /* Group Selector, Box model */
    color: #2c3e50;
    text-align: center;
    font-family: "Playfair Display", serif;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

h4 {
    color: #2c3e50;
    font-family: "Playfair Display", serif;
    font-size: 18px;
}


/* Class selectors */
p.intro {
    font-style: italic;
    font-size: 18px;
    color: #2c3e50;
    text-align: center;
    margin-bottom: 20px;
}

p.conclusion a {
    text-align: center;
    color: #2980b9; 
    text-decoration: none; 
    font-weight: bold;
}

p.conclusion a:hover {
    text-decoration: underline; 
}


/* Main */
main {
    margin: 20px auto;
    padding: 20px;
    max-width: 80%;
    border: 2px solid #b0d5c7;
    border-radius: 50px;
    background-color: white;
}

.brooklyn-section {
    margin: 100px;
}

.food-list {
    clear: both;
}


/* List Styling */
ul {
    list-style: none;
    padding: 5px;
}

li {
    padding: 10px;
}

ul li strong {
    color: #55907c; 
    font-weight: bold;
}


/* Images */
img {
    width: 300px;
    height: auto;
    border-radius: 8px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

#food-image {
    float: right;
    margin: 50px; /* Add space between text and image */    
}



/* Footer Box Model*/
footer { 
    text-align: center;
    padding: 100px;
    background: #b0d5c7;
    text-align: center; 
    margin-top: 30px; 
    border-top: 2px solid #8bb8a8; 
}
